TZ=Asia/Shanghai

# MySQL
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=xdev
MYSQL_USER=xdev
MYSQL_PASSWORD=1234

# Redis
REDIS_PORT=6379

# Postgres
POSTGRES_PORT=5432
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=xdev

# Kafka
KAFKA_PORT=9094

# etcd
ETCD_PORT=2379

# registry
REGISTRY_PORT=5000
